.left-contents
  .left-top
    .left-top__user-box
      %h3.left-top__user-box__user-name
        = current_user.name
      %ul.left-top__user-box__user-edit
        %li.left-top__user-box__group-create
          =link_to do
            = icon('fa', 'edit', class: 'left-top__user-box__group-create')
        %li.left-top__user-box__profile-edit
          =link_to do
            = icon('fas', 'cog', class: 'left-top__user-box__profile-edit')
  .left-main
    .select-group
      .select-group__group-name
        techcamp
      .select-group__message_latest
        まだメッセージがありません
    .select-group
      .select-group__group-name
        techcamp
      .select-group__message_latest
        まだメッセージがありません

    

