.left-contents
  .left-top
    .left-top__user-box
      .left-top__user-box__user-name
        masa
      .left-top__user-box__user-edit
        =link_to "#", class: "left-top__user-box__group-create" do
          = icon('fa', 'edit')
        =link_to "#", class: "left-top__user-box__profile-edit" do
          = icon('fas', 'cog')
  .left-main
    .select-group
      .select-group__group-name
        techcamp
      .select-group__message_latest
        まだメッセージがありません
    .select-group
      .select-group__group-name
        techcamp
      .select-group__message_latest
        まだメッセージがありません

    

